
<button class="testbutton" type="submit"></button>
<div class="container">
<div class="animate three">
            <span>O</span><span>u</span><span>r</span><span></span>  &nbsp;
            <span>M</span><span>i</span><span>s</span><span>s</span><span>i</span><span>o</span><span>n</span>
</div>

<div class="wrapper">
  <div class="card">
    <h2>Our Unified Mission</h2>
      <p>
        Exploring the solar system as a united humanity will
        bring us all together. CosmoKnot endeavor serves to inspire
        the next generation of explorers! Do you have what it 
        takes? <br />
        <br>
        Join us! We are going on a voyage... into the universe! Mars is
        only the start!<br />
        Our journeys will help us better understand the origins
        of the solar system, the origins of life and our place in
        the universe.<br />
        Want to experience what it will be like on the Red Planet
        before venturing out?<br />
        Visit the following, on our very own Earth, for a little
        taste of life on Mars:
      </p>
<br>

        <a href="https://www.nps.gov/deva/index.htm">Death Valley, CA</a>
        <br />
        <br>
        <br> 
        <a href="http://www.monolake.org/visit/">Mono Lake, CA</a>
        <br>
        <br />
        <br>
        <a href="https://www.gohawaii.com/experiences/sightseeing/Volcanoes">Hawaii Volcanoes</a>
        <br>
        <br />
        <br>
        <a href="https://www.alaskacenters.gov/explore/attractions/permafrost">Permafrost, Alaska</a>
        <br>
        <br />
        <br>
        <a href="https://csegrecorder.com/articles/view/mars-in-canada-the-nasa-haughton-mars-project-devon-island-nunavut">Devon Island, Canada</a>
     
  </div>    
  </div>