<h2 class="title" mat-dialog-title>Register</h2>
<mat-radio-group [(ngModel)]="typeOfAccount" name="typeOfAccount">
  <div>Please select a button:</div>
  <mat-radio-button name="admin" value="admin" (change)="handleButton($event)">Admin</mat-radio-button>
  <mat-radio-button name="spacetravel" value="user" (change)="handleButton($event)">Space Travel</mat-radio-button>
</mat-radio-group>

<form [formGroup]="UserCreateForm" *ngIf="typeOfAccount === 'admin' " (ngSubmit)="submit(UserCreateForm)">
  <mat-dialog-content class="mat-typography">
    <div class="signUpContainer">
      <mat-form-field>
        <input matInput class="inputBox" placeholder="Username" formControlName="username" [errorStateMatcher]="matcher"
          required>
        <mat-error *ngIf="uc().username.hasError('required')">Username is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput class="email" class="inputBox" placeholder="Email" formControlName="email" [errorStateMatcher]="matcher"
          required>
        <mat-hint>Must be valid AdminId</mat-hint>
        <mat-error *ngIf="uc().email.hasError('required') && !uc().email.hasError('adminID')">AdminId is
          required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput class="password" class="inputBox" placeholder="Password" formControlName="password"
          [errorStateMatcher]="matcher" required>
        <mat-hint>Minimum of 8 characters</mat-hint>
        <mat-error *ngIf="uc().password.hasError('required') && !uc().password.hasError('minlength')">Password is
          required></mat-error>
        <mat-error *ngIf="uc().password.hasError('minlength') && !uc().password.hasError('required')">Minimum of 8
          characters</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="buttons" mat-button cdkFocusInitial type="submit">Register</button>
  </mat-dialog-actions>

  <form [formGroup]="SpaceTravelRegForm" *ngIf="typeOfAccount === 'spacetravel' " (ngSubmit)="submit(SpaceTravelRegForm)">
    <mat-dialog-content class="mat-typography">
      <div class="signUpContainer">
        <mat-form-field>
          <input matInput class="inputBox" placeholder="Username" formControlName="username" [errorStateMatcher]="matcher"
            required>
          <mat-error *ngIf="st().username.hasError('required')">Username is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput class="password" class="inputBox" placeholder="Password" formControlName="password"
            [errorStateMatcher]="matcher" required>
          <mat-hint>Minimum of 8 characters</mat-hint>
          <mat-error *ngIf="st().password.hasError('required') && !st().password.hasError('minlength')">Password is
            required</mat-error>
          <mat-error *ngIf="st().password.hasError('minlength') && !st().password.hasError('required')">Minimum of 8
            characters</mat-error>
        </mat-form-field>
     
      <mat-form-field>
        <mat-select class="inputBox" placeholder="Qualities" formControlName="qualities" multiple>
          <mat-option *ngFor="let quality of qualities" [value]="quality">{{ qualities }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
      <mat-dialog-actions>
        <button class="buttons" mat-button cdkFocusInitial type="submit">Register</button>
      </mat-dialog-actions>
  </form>